html {
   background: linear-gradient(50deg, rgba(36,28,0,1) 0%, rgba(255,251,140,0.7539390756302521) 0%, rgba(251,152,209,0.7959558823529411) 100%);

}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(70, 70, 70);
}

main {
    display: grid;
    grid-gap: 2vw;
    grid-template-areas:
        'zero zero'
        'one two'
        'one two'

    ;
    grid-template-columns: 1fr 1fr;
    margin-left: 5vw;
    margin-right: 5vw;

}

@media (max-width: 1023px) {
    main {
        grid-template-areas:
            'zero'
            'one'
            'one'
            'two'
            'two'
        ;

        grid-template-columns: 1fr;
        margin-left: 15vw;
        margin-right: 15vw;
        row-gap: 2vh;
    
    } 
    
    


}

header {
    font-size: 3em;
    text-align: left;
    padding-top: 3vh;
    margin-left: 10vw;
    color:rgb(240, 240, 240);
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;




}

.prompt {
    grid-area: zero;
    font-size: 2em;
    padding: 2vh 2vw 2vh 2vw;
    border-radius: 2vh;
    text-align: center;
    background-color:rgb(239, 239, 239);
    border-radius: 3vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}


.cardFront {
    background-image: linear-gradient(50deg, rgba(36, 28, 0, 1) 0%, rgba(100, 94, 222, 1) 0%, rgba(92, 226, 252, 1) 100%);
    grid-area: three;
    height: 15vh;
    width: 24vh;
    border-radius: 1vh;
    padding: 2vh 2vw 2vh 2vw;
    display: grid;
    align-content: end;
    line-height: 1.5;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}

.cardForm {
    padding: 3vh 3vw 3vh 3vw;
    grid-area: one;
    background-color:rgb(239, 239, 239);
    border-radius: 3vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1em;



}

.cvvArea, .cardNumberArea, .cardExpiringDateArea, .userCpfArea, .userNameArea {
    font-size: 2em;
}

input {
    background-color: rgb(240, 240, 240);
    border: 0px;
    font-size: 1em;
    width: 30vw;
    height: 3vh;
    margin: 1vh 0vw 1vh 0vw;
    padding:3vh 2vw 3vh 2vw; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2vh;
   
}



button {
    background-color:  rgba(253, 213, 237, 0.671);

    border: 0px;
    padding: 1vh 1vw 1vh 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2vh;
    font-size: 1.5em;
    color: rgb(75, 75, 75);

}

button:hover {
    background-color: rgba(241, 151, 205, 0.671);
}


.wallet {
    background-color:rgb(239, 239, 239);
    border-radius: 3vh;
    grid-area: two;
    padding: 2vh 2vw 2vh 2vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.25em;
    

}

#walletCardOne,
#walletCardTwo,
#walletCardThree,
#walletCardFour,
#walletCardFive {
    background-color: rgb(240, 240, 240);
    margin: 1vh 0vw 1vh 0vw;
    padding:3vh 2vw 3vh 2vw; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2vh;
    color:rgb(139, 139, 139);

}

#walletCardOne:hover,
#walletCardTwo:hover,
#walletCardThree:hover,
#walletCardFour:hover,
#walletCardFive:hover {
    background-color:rgba(253, 213, 237, 0.671);
}

footer {

    height: 100px;
    margin-left: 15vw;
    margin-right: 15vh;
    padding-bottom: 3vh;
    padding-top: 5vh;
    text-align: center;
    font-size: 2em;
    color:rgb(240, 240, 240);
    text-shadow:rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}