html {
    background-color: rgb(234, 236, 236);
   
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

main {
    display: grid;
    grid-gap: 2vw;
    grid-template-areas: 
   'zero zero'
    'one two'
    'one two'
   ;
   
   
   margin-left: 25vw;
   margin-right: 25vw;
}

header {
    font-size: 24px;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vh;
    padding-top: 3vh;
    
}

.prompt {
    grid-area: zero;
    font-size: 20px;
    padding: 2vh 2vw 2vh 2vw;
    background-color: lightgrey;
    border-radius: 2vh;
    max-width: max-content;
    

}


.cardFront {
    background-image: linear-gradient(50deg, rgba(36,28,0,1) 0%, rgba(100,94,222,1) 0%, rgba(92,226,252,1) 100%);
    grid-area: three;
    height: 15vh;
    width: 25vh;
    border-radius: 1vh;
    padding: 2vh 2vw 2vh 2vw;
    
      
    
}



.cardForm {
    padding: 3vh 2vw 3vh 3vw;
    grid-area: one;
    background-color: lightgray;
    border-radius: 3vh;
    
   
    
}

input {
    background-color: rgb(240, 240, 240);
    border: 0px;

}

button {
    background-color: rgb(240, 240, 240);
    border: 0px;
    padding: 1vh 1vh 1vh 1vh;

}

.wallet {
    background-color: lightgray;
    border-radius: 3vh;
    grid-area: two; 
    padding: 2vh 2vw 2vh 2vw;
    
      
}

.walletCard {
    background-color:rgb(240, 240, 240);
    padding: 1vh 1vw 1vh 1vw;


}

footer {
 
    height: 100px;
    margin-left: 15vw;
    margin-right: 15vh;
    padding-bottom: 3vh;
    padding-top: 5vh;
    text-align: center;
}


  

