html {
    background-color: rgb(234, 236, 236);
   
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

main {
    display: grid;
    grid-gap: 2vw;
    grid-template-areas: 
   'zero zero'
    'one two'
    'one two'
   ;
   grid-template-columns: 1fr 1fr;
 
}

@media (max-width: 480px) {
    main {
        grid-template-areas: 
        'zero' 
        'one'
        'one'
        'two'
        'two'
        
        ;
    }
}

header {
    font-size: 2em;
    text-align: center;
    padding-top: 3vh;

   
    
}

.prompt {
    grid-area: zero;
    font-size: 2em;
    padding: 2vh 2vw 2vh 2vw;
    background-color: lightgrey;
    border-radius: 2vh;
    text-align: center;
    

}


.cardFront {
    background-image: linear-gradient(50deg, rgba(36,28,0,1) 0%, rgba(100,94,222,1) 0%, rgba(92,226,252,1) 100%);
    grid-area: three;
    height: 15vh;
    width: 25vh;
    border-radius: 1vh;
    padding: 2vh 2vw 2vh 2vw;
    display: grid;
    align-content: end;
    line-height: 1.5;

}
.cardForm {
    padding: 3vh 3vw 3vh 3vw;
    grid-area: one;
    background-color: lightgray;
    border-radius: 3vh;
    
   
    
}

input {
    background-color: rgb(240, 240, 240);
    border: 0px;
    font-size: 2em;
    width: 500px;
    height: 3vh;
    margin: 1vh 0vw 1vh 0vw;

}



button {
    background-color: rgb(240, 240, 240);
    border: 0px;
    padding: 1vh 1vw 1vh 1vw;

}

button:hover {
    background-color: rgb(149, 146, 211);
}
.wallet {
    background-color: lightgray;
    border-radius: 3vh;
    grid-area: two; 
    padding: 2vh 2vw 2vh 2vw;
    
      
}

.walletCard {
    background-color:rgb(240, 240, 240);
    padding: 1vh 1vw 1vh 1vw;

}

.walletCard:hover {
    background-color: rgb(149, 146, 211);
}

footer {
 
    height: 100px;
    margin-left: 15vw;
    margin-right: 15vh;
    padding-bottom: 3vh;
    padding-top: 5vh;
    text-align: center;
}


  

